#event-detail {
	width: 70vw;
	margin: 0vw 15vw 5vw 15vw;
}

#event-detail-img {
	display: inline-block;
	vertical-align: middle;
	margin: 0vw;
	padding: 0vw;
	width: 15vw;
	height: 15vw;
	margin: 0vw 5vw 0vw 0vw;
}

#event-detail-img img{
	width: 15vw;
	height: 15vw;
	border: 0.1vw solid white;
}

#event-detail-text {
	display: inline-block;
	vertical-align: middle;
	width: 48vw;
}

#event-detail-text h2{
	margin: 0vw;
	font-size: 3vw;
}

#event-detail-text p{
	margin: 2vw 0vw 0vw 0vw;
	font-size: 2vw;
}